.header {
  width: 100%;
  height: 80px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  font-size: 18px;
}

.left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 200px;
  height: 80px;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #fff;
  margin-right: 60px;
}

.link {
  text-decoration: none;
  font-size: 14px;
}
