.products {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.line {
    width: 80%;
    text-align: center;
    background-color: var(--primary);
    height: 2px;
    border: none;
}

.heading {
    margin-top: 7vh;
}

h1 {
    color: var(--primary);
    text-align: center;
}

h2 {                              
    color: white;
    font-size: xx-large;
    text-align: center;
}

.product-card {
    display: flex;
    justify-content: center;
}

.cart-item {
    padding: 5vh;
}

p {
    text-align: center;
    color: white;
}

.price {
    background-color: grey;
    text-align: center;
    color: white;
}